# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
#'context-menu':
#  'atom-text-editor': [
#    {
#      'label': 'Toggle meteor-tools'
#      'command': 'meteor-tools:toggle'
#    }
#  ]
'menu': [
  {
    'label': 'Meteor'
    'submenu': [
      {
        'label': 'Toggle Console'
        'command': 'meteor-tools:toggleConsole'
      },
      {
        'label': 'Create Meteor Project'
        'command': 'meteor-tools:createNewProject'
      }
    ]
  }
]
